<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/recipt.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <style>
      .total {
      }
    </style>

    <div class="container">
      <br />
      <table
        border="0"
        cellpadding="0"
        cellspacing="0"
        height="100%"
        width="100%"
        id="bodyTable"
      >
        <tr>
          <td align="center" valign="top">
            <table
              border="0"
              cellpadding="20"
              cellspacing="0"
              width="600"
              id="emailContainer"
            >
              <tr>
                <td align="center" valign="top">
                  <h1><%= data.reciptId %></h1>
                  <img
                    width="100%"
                    height="300px"
                    src="https://images.pexels.com/photos/919436/pexels-photo-919436.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt=""
                    style="object-fit: contain"
                  />
                </td>
                <br />
              </tr>
              <hr />

              <tr>
                <td align="center" valign="top">
                  <div>
                    <h2>
                      <%= data.payer.name.given_name %> <%=
                      data.payer.name.surname%>
                    </h2>
                    <h4 style="margin: 0">
                      <%= data.payer.email_address %> <br />
                      <%= data.payer.payer_id %> <br />
                    </h4>
                  </div>
                </td>
              </tr>

              <tr>
                <td align="center" valign="top">
                  <div style="width: 300px;">
                    <% for(var i=0; i< data.purchase_units[0].items.length; i++)
                    {%> <%= data.purchase_units[0].items[i].name %> <br />
                    <%= data.purchase_units[0].items[i].unit_amount.value %>
                    <br />
                    <%= data.purchase_units[0].items[i].quantity %> <br />
                    <hr />

                    <% } %>
                  </div>
                </td>
              </tr>

              <tr>
                <td align="center" valign="top">
                  <div class="total" style="font-size: 30px;">
                    <h2>
                      Total $<%= money.total %>
                    </h2>
                  </div>
                </td>
              </tr>

              <tr>
                <td align="center" valign="top">
                  <div>
                    <h2>my_Company</h2>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Odit recusandae veniam voluptatem culpa ex commodi nobis
                      sunt, velit quo, tempore sapiente eos esse facilis
                      provident vero. Provident adipisci eveniet repellat. Lorem
                      ipsum dolor sit amet consectetur adipisicing elit.
                      Deserunt soluta qui blanditiis culpa, corporis dolorum
                      laboriosam repellendus quis, quam suscipit ratione sunt
                      itaque, magnam amet nam quod animi nulla. Incidunt?
                    </p>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
